.editor-wrapper
{
	position: fixed;
	width: 100%;
	padding: 5px;
	height: calc(100% - 85px);
}

.editor-input
{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	outline: none !important;
	cursor: text;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background: #303e3d;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #273332;
}
